body {
    background-image:url(img/re.png);
    background-repeat: no-repeat;
}
img{
    margin: auto;
    display: block ;
    width: 60%;
}
a{
    margin: auto;
    display: block ;
    width: 30%; 

}


button{
    margin: auto;
    display: block ;
    
     
}
#play{
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  
  
  @keyframes shake {
    /* 10% { transform: translate(10px, -10px)  }
     10% { transform: translate(10px, -10px)  } 
    20% { transform: translate(-3px, 0px) }
    30% { transform: translate(3px, 2px)  }
    40% { transform: translate(1px, -1px) } */
    45% { transform: translate(-10px, -10px)}
    55% { transform: translate(10px, 10px)}
    55% { transform: translate(-10px, -10px)}
    /* 60% { transform: translate(-3px, 1px)  }
    70% { transform: translate(3px, 1px)  }
    80% { transform: translate(-1px, -1px) }
    90% { transform: translate(1px, 2px)  }  */
  
  }

  #playPauseButton{
    /* padding: 10px 25px; */
    font-size: 35px;
    line-height: 10px;
    min-height: 40px;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
    margin-left: 30px;
  background-color: transparent;
  border: 0px;

    /* color: #fd0000;    case we use the icon with assress: &#9658; not the imuji! */  

    /* case we want a background: */
    /* background: linear-gradient(to right bottom,#273c75, #06f7f7);  
    border-radius: 5px;   */

    /*height: 60px;     /* 拽  转 砖 爪专.. */
  
  }

  #rulse{
    font-family: fantasy;
    font-size: 25px;
    line-height: 10px;
    min-height: 40px;
    min-width: 50px;
    text-align: center;
  background-color: transparent;
  border: 0px;
    margin-right: 30px;
  }

  /* 注爪 转 专转 */

  .popup{
    /* background-color: aliceblue; */
    background-image:url("img/reg.png");
    width: 1000px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50% ) ;
    left:50%;
    top:50%;
    border-radius: 8px;
    font-family: sans-serif;
    text-align: center;
    display: none;
}
#close{
  display: block;
  margin: 0 0 20px auto;
  background: transparent;
  font-size: 33px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: none; 
  outline: none;
  /* 拽  祝 抓转 砖  0PX*/
  cursor: pointer;
  background: rgba(211, 38, 12, 0.933);
  color: aliceblue;
}

.popup h2{
  font-family: fantasy;
  margin-top:  -20px;
}
.popup p{
  font-size: 14px;
  text-align: center;
  margin: 20px 0;
  line-height:25px ;
}
  